:root{
    --principal-color:#d3ad7f;
    --preto: #13131a;
    --fundo: #010103; 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
    transition: .2s linear;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

body{
    background-color: var(--fundo);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 2px #2c2c2c solid;
}

figure img{
    height: 70px;
    border-radius: 50%;
}

.container__header{
    background-color: var(--fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;

    .nav__links { 
        ul{
            display: flex;
            gap: 2rem;
            
            li{
                font-size: 19px;
                color: #fff;
            }

            li:hover{
                font-size: 21px;
                color: var(--principal-color);
            }
        }
    }

    .nav__icons{
    display: flex;
    gap: 2rem;

        .nav__icons img:hover{
            height: 35px;
            width: 35px;
        }
    }
}

.container__home{
    background: url("img/home-img.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;

    .conteudo__home{
        max-width: 40rem;
        padding: 6rem;

        h1{
            color: #fff;
            font-size: 4rem;
            width: 80%;
        }

        p{
            font-size: 15px;
            color: #fff;
            margin-top: 1rem;
            width: auto;
        }

        button{
            background-color: var(--principal-color);
            padding: 8px;
            margin: 1rem auto;
            font-size: 20px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;

        }
    }
}
