@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --principal-color:#d3ad7f;
  --preto: #13131a;
  --fundo: #010103;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  transition: 0.2s linear;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--fundo);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 2px #2c2c2c solid;
}

figure img {
  height: 70px;
  border-radius: 50%;
}

.container__header {
  background-color: var(--fundo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 3rem;
}
.container__header .nav__links ul {
  display: flex;
  gap: 2rem;
}
.container__header .nav__links ul li {
  font-size: 19px;
  color: #fff;
}
.container__header .nav__links ul li:hover {
  font-size: 21px;
  color: var(--principal-color);
}
.container__header .nav__icons {
  display: flex;
  gap: 2rem;
}
.container__header .nav__icons img:hover {
  height: 35px;
  width: 35px;
}

.container__home {
  background: url("assets/img/home-img.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.container__home .conteudo__home {
  max-width: 40rem;
  padding: 8rem;
}
.container__home .conteudo__home h1 {
  color: #fff;
  font-size: 3.5rem;
  width: 90%;
}
.container__home .conteudo__home p {
  font-size: 18px;
  color: #fff;
  margin-top: 1rem;
}
.container__home .conteudo__home button {
  background-color: var(--principal-color);
  padding: 8px;
  margin: 1rem auto;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.container__home .conteudo__home button:hover {
  font-size: 22px;
}

.container__sobre {
  padding: 8rem;
}
.container__sobre section {
  background-color: var(--preto);
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  border-radius: 35px;
  width: 60rem;
  margin: auto;
}
.container__sobre .figure__about {
  height: 30rem;
}
.container__sobre .figure__about img {
  height: 30rem;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.container__sobre .conteudo__about h2 {
  font-size: 2rem;
  color: #fff;
}
.container__sobre .conteudo__about h2 span {
  color: var(--principal-color);
}
.container__sobre .conteudo__about p {
  color: #fff;
  font-size: 15px;
  width: 90%;
}
.container__sobre .conteudo__about button {
  background-color: var(--principal-color);
  padding: 8px;
  margin: 2rem auto;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.container__sobre .conteudo__about button:hover {
  font-size: 22px;
}

.container__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
}
.container__menu h2 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 3rem;
}
.container__menu h2 span {
  color: var(--principal-color);
}
.container__menu .container_all_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4rem;
}
.container__menu .container_all_card .figure__card img {
  height: 250px;
}
.container__menu .container_all_card .container__card {
  border: 4px solid var(--preto);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.container__menu .container_all_card .container__card:hover {
  background-color: rgba(255, 255, 255, 0.2941176471);
}
.container__menu .container_all_card .container__card h3 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 1rem;
}
.container__menu .container_all_card .container__card p {
  color: #fff;
  font-size: 18px;
  display: inline;
  margin: 3px;
}
.container__menu .container_all_card .container__card .price_antigo__card {
  text-decoration: line-through;
  color: var(--preto);
}
.container__menu .container_all_card .container__card button {
  background-color: var(--principal-color);
  padding: 8px;
  margin: 2rem auto auto auto;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.container__menu .container_all_card .container__card button:hover {
  font-size: 22px;
}

.container__avaliacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
.container__avaliacao h2 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 3rem;
}
.container__avaliacao h2 span {
  color: var(--principal-color);
}
.container__avaliacao .img_pessoa {
  height: 250px;
}
.container__avaliacao .container_all_avaliacoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  margin: 0 5rem 2rem 5rem;
}
.container__avaliacao .container_card_avaliacoes {
  border: 4px solid var(--preto);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container__avaliacao .container_card_avaliacoes p {
  color: #fff;
  font-size: 20px;
  width: 90%;
  margin: 1rem;
  text-align: justify;
}
.container__avaliacao .container_card_avaliacoes .star {
  margin: 2rem;
}

footer {
  background-color: var(--preto);
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  padding: 1rem;
  border-radius: 20px;
}
footer img {
  height: 150px;
}
footer .container__conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .container__conteudo h3 {
  color: #fff;
  font-size: 28px;
}
footer .container__conteudo h3 span {
  color: var(--principal-color);
}
footer .container__conteudo .footer__links {
  margin-right: 10rem;
}
footer .container__conteudo .footer__links ul {
  display: flex;
  gap: 1rem;
}
footer .container__conteudo .footer__links ul li {
  font-size: 19px;
  color: #fff;
}
footer .container__conteudo .footer__links ul li:hover {
  font-size: 21px;
  color: var(--principal-color);
}
footer .container__conteudo .links__sociais {
  display: flex;
}
footer .container__conteudo .links__sociais img {
  height: 30px;
  margin: 5px;
}
footer .container__conteudo .links__sociais img:hover {
  height: 35px;
  width: auto;
}/*# sourceMappingURL=style.css.map */